:root {
    /* Couleurs principales*/
    --color-primary: #D2B938;       
    --color-primary-hover: #B8952E; 
    --color-bg-dark: #1E1E1E;       
    --color-bg-dark-card: #262626;  
    --color-bg-light: #F3F3F3;     
    --color-white: #FFFFFF;
    --color-separator: #D9D9D9 ; 
    --color-text-dark: #1E1E1E;
    --color-text-light: #FFFFFF;
    --color-text-gold: #D2B938;

    /* Typographies*/
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Poppins', sans-serif;
    --font-SC: 'Six Caps', sans-serif;
    
   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
    background-color: var(--color-bg-dark);
    color: var(--color-text-light);
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

@font-face {
    font-family: 'Six Caps';
    src: url('../assets/fonts/SixCaps-Regular.woff2') format('woff2');
    font-weight: 400; 
    font-style: normal;
    font-display: swap; 
}

